
<center>
<%= form_for(@criterium) do |f| %>
  <% if @criterium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@criterium.errors.count, "error") %> prohibited this criterium from being saved:</h2>

      <ul>
      <% @criterium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-xs-12 col-sm-6 col-sm-offset-3">

  <div class="field">
    <%= f.label :customer_name %><br>
    <div class ="text_black"><%= f.text_field :customer_name %></div>
  </div>

  <div class="field">
    <%= f.label :response_type %><br>
    <%= f.select(:response_type, options_for_select([["positive", "positive"], ["neutral", "neutral"], ["negative", "negative"]])) %>
  </div>

  <div class="field">
    <%= f.label :responder_name %><br>
    <div class ="text_black"><%= f.text_field :responder_name %></div>
  </div>

  <div class="field">
    <%= f.label :responder_email %><br>
    <div class ="text_black"><%= f.email_field :responder_email %></div>
  </div>
    <button type="submit" class="btn btn-lg btn-success col-xs-14 ">Generate Response</button>
  </div>

  <!-- <div class="actions"> -->
    <!-- <div class ="text_black"><%#= f.submit :Submit %></div> -->
  <!-- </div> -->
<% end %>
</center>
