<center>
<%= form_for(@criterium) do |f| %>
  <% if @criterium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@criterium.errors.count, "error") %> prohibited this criterium from being saved:</h2>

      <ul>
      <% @criterium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <div class="form-group">
    <div class = "text-left"><%= f.label :customer_name, "Customer Name" %><br></div>
    <div class ="text_black"><%= f.text_field :customer_name, class: 'form-control ', placeholder:"Customer name" %></div>
  </div>


  <div class="form-group ">

    <div class = "text-left"><%= f.label :response_type, "Type of Response" %><br></div>
    <%= f.select(:response_type, 
      options_for_select([["positive", "positive"], ["neutral", "neutral"], ["negative", "negative"]]),
      {}, 
      {class: "btn btn-group form-control text-grey dropdown-toggle ", 
        "span" => "caret",
        "data-toggle" => "dropdown", 
        "aria-haspopup" => "true", 
        "aria-expanded" => "false",  }) %>
  </div>

  <div class="form-group">
    <div class = "text-left"><%= f.label :responder_name, "Your Name" %><br></div>
    <div class ="text_black"><%= f.text_field :responder_name, class: 'form-control', placeholder:"First and last name" %></div>
  </div>

  <div class="form-group">
    <div class = "text-left"><%= f.label :responder_email, "Your Email" %><br></div>
    <div class ="text_black"><%= f.email_field :responder_email, class: 'form-control', placeholder:"example@website.com" %></div>
  </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-lg btn-success col-xs-12 ">Generate Response</button>
        </div>
      </div>
  </div>



  <!-- <div class="actions"> -->
    <!-- <div class ="text_black"><%#= f.submit :Submit %></div> -->
  <!-- </div> -->
<% end %>
</center>