<%= form_for(@visitor) do |f| %>
  <% if @visitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visitor.errors.count, "error") %> prohibited this visitor from being saved:</h2>

      <ul>
      <% @visitor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<center>
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
   <div class="form-group">     
    <%= f.label :email, "Enter your email address" %><br>
    <div class ="text_black"><%= f.email_field :email, class: 'form-control', placeholder:"name@example.com"  %></div>
  </div>
   <div class="row">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-lg btn-success col-xs-14 ">Submit</button>
      </div>
    </div>
 </div>
<% end %>
</center>