<p id="notice"><%= notice %></p>



<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8  col-sm-offset-2">

      <div class="panel panel-default">
        <!-- Panel contents External Links -->
        <div class="panel-heading">
          <center><h4 class="text-black">You have permission to reply!</h4></center>
        </div>
        <div class="panel-body">
          <ul class="text-black">
            <% if @criterium.response_type == "positive"%>
              <p>
                <%=@positive_int %>, <%=@criterium.customer_name%>. 
                <br>
                <br>
                <%= @positive_line1%>  
                <%= @positive_line2%> 
                <%= @positive_line3 %> 
                <%= @positive_line4 %> 
                <%= @positive_line5 %>
                <br>
                <br>
                <%= @positive_close %>
                <br>
                <br>
                <%=@criterium.responder_name%>
                <br> 
                <%= @criterium.responder_email %>
              </p>  

            <% elsif @criterium.response_type == "neutral" %>
                <p>
                  <%= @neutral_intro %>, <%=@criterium.customer_name%>. 
                  <br>
                  <br>
                  <%= @neutral_line1%>  
                  <%= @neutral_line2%> 
                  <%= @neutral_line3 %>  
                  <%= @neutral_line4 %> 
                  <%= @neutral_line5 %><%= @criterium.responder_email %>.
                  <br>
                  <br>
                  <%= @neutral_close %>
                  <br>
                  <br>
                  <%=@criterium.responder_name%> 
            </p> 
            <% elsif @criterium.response_type == "negative" %>
              <p>
                <%=@negative_int %>, <%=@criterium.customer_name%>. 
              <br>
              <br>
              <%= @negative_line1 %>  
              <%= @negative_line2 %> 
              <%= @negative_line3 %>  
              <%= @negative_line4 %><%= @criterium.responder_email %> 
              <%= @negative_line5 %> 
              <br>
              <br>
              <%= @negative_close %> 
              <br>
              <br>
              <%=@criterium.responder_name%> 

              </p> 
            <% end %>

              <button type="submit" class="btn btn-lg btn-success col-xs-14 ">
                <%= link_to 'Generate Another!', criterium_path, class: "text-white"  %></button>

              <button type="submit" class="btn btn-lg btn-success col-xs-14 ">
                <%= link_to 'Enter New Information', edit_criterium_path, class: "text-white" %></button>
              <center>

  </center>
</h3>
</div>
</center>
<br>
<br>
<% @visitor = Visitor.new %>
<%= render 'signup' %>
  </div>
</div>
</div>
</div>
</div>

        </div>
      </div>  

    </div>
  </div>

