<div class="col-xs-12 col-sm-8 col-sm-offset-2">

<h3>
	<center>
			The Reviewer Voices Concerns Regarding Health and Safety
	</center>
</h3>

<br>

<h4>
	<center>

		<p>
			Matters of health and safety come up often on reviews for hotels and food-service venues (restaurants, bars, cafes). Depending on the severity of the report, it is essential that your business takes the necessary steps to identify the issue and correct it.
		</p>

		<p>
			In the case of food and beverage venues, owners and managers need to remain cognizant that authorities are using reviews to track and identify offenders. Once an issue has been identified and confirmed, consider contacting the reviewer directly and offering a reimbursement for the questionable experience. Depending on the severity of the concern, you may want to consult with your in-house counsel prior to posting a response. If you get authorization to move forward with a response, then plan to provide details regarding what you have done to correct the problem going forward, and emphasize your intent to reimburse the customer accordingly.
		</p>

		<p>
			It is important to note that we use the term reimbursement and not the term “compensation,” as compensation may or may not include other expenses incurred by the reviewer as a result of the safety or health concern.
		</p>

		<strong>

		<p><%=link_to "The Reviewer Is Threatening Violence Against You, Your Business, or Your Employees", static_pages_when_to_delete_part2_path%></p>

		<p><%=link_to "The Reviewer Has Posted a Review That Makes You Feel Angry and Unable to Control the Tone of Your Response", static_pages_when_to_delete_part4_path%></p>

		<p><%=link_to "The Reviewer Posted the Review to the Wrong Property", static_pages_when_to_delete_part5_path%></p>

		<p><%=link_to "The Reviewer Is Attempting to Blackmail You", static_pages_when_to_delete_part6_path%></p>

		<p><%=link_to "The Reviewer Is Threatening to Sue You", static_pages_when_to_delete_part7_path%></p>

		</strong>

		<p><%=link_to "Back to When To Delete....", static_pages_when_to_delete_part1_path%></p>

		<p><%=link_to "Back to Resources", static_pages_resources_path%></p>

	</center>
</h4>
