<div class="col-xs-12 col-sm-8 col-sm-offset-2">


<h3>
	<center>

	The Reviewer Is Threatening Violence Against You, Your Business, or Your Employees

	</center>
</h3>

<br>

<h4>

	<center>

		<p>
			It is unlikely that something like this will make it through review moderation, but if it does, then do not reply to the review. Quickly flag the review or escalate it to the review site in question, but not without first taking a screenshot.
		</p>

		<p>
			If you suspect there is a reason to fear for your safety or the safety of your team, then it is essential that you escalate with the proper authorities. If you happen to have some clues as to who posted the review, then don’t hesitate to disclose to the authorities, but do it with discretion and always extend the benefit of the doubt.
		</p>

		<p>
			Again, this scenario is very unlikely, but under no circumstance should you engage in responding to any reviews that include a threat of violence of any sort.
		</p>

		<br>

<strong>
		<p><%=link_to "The Reviewer Voices Concerns Regarding Health and Safety", static_pages_when_to_delete_part3_path%></p>

		<p><%=link_to "The Reviewer Has Posted a Review That Makes You Feel Angry and Unable to Control the Tone of Your Response", static_pages_when_to_delete_part4_path%></p>

		<p><%=link_to "The Reviewer Posted the Review to the Wrong Property", static_pages_when_to_delete_part5_path%></p>

		<p><%=link_to "The Reviewer Is Attempting to Blackmail You", static_pages_when_to_delete_part6_path%></p>

		<p><%=link_to "The Reviewer Is Threatening to Sue You", static_pages_when_to_delete_part7_path%></p>

		</strong>

		<p><%=link_to "Back to When To Delete....", static_pages_when_to_delete_part1_path%></p>

		<p><%=link_to "Back to Resources", static_pages_resources_path%></p>

	</center>
</h4>
