<div class="col-xs-12 col-sm-8 col-sm-offset-2">

<h3>
	<center>
		The Reviewer Is Attempting to Blackmail You
	</center>
</h3>

		<br>

<h4>
	<center>

		<p>
		If the reviewer is asking you to do something that is not aligned with your standard policies of remedy and compensation, and his or her goal appears to be simply blackmail, then do not respond. Engaging with this type of reviewer will not benefit your business, and it is likely to snowball into something unpleasant. Step away from the situation and flag the review. 
		</p>

		<br>
		<br>
		

		<strong>

		
		<p><%=link_to "The Reviewer Is Threatening to Sue You", static_pages_when_to_delete_part7_path%></p>

		<p><%=link_to "The Reviewer Is Threatening Violence Against You, Your Business, or Your Employees", static_pages_when_to_delete_part2_path%></p>

		<p><%=link_to "The Reviewer Voices Concerns Regarding Health and Safety", static_pages_when_to_delete_part3_path%></p>

		<p><%=link_to "The Reviewer Has Posted a Review That Makes You Feel Angry and Unable to Control the Tone of Your Response", static_pages_when_to_delete_part4_path%></p>

		<p><%=link_to "The Reviewer Posted the Review to the Wrong Property", static_pages_when_to_delete_part5_path%></p>


		</strong>

		<p><%=link_to "Back to When To Delete....", static_pages_when_to_delete_part1_path%></p>

		<p><%=link_to "Back to Resources", static_pages_resources_path%></p>


		</strong>
		
	</center>

</h4>
