<div class="col-xs-12 col-sm-8 col-sm-offset-2">

<h3>
	<center>
		The Reviewer Posted the Review to the Wrong Property
	</center>
</h3>

		<br>

<h4>
	<center>

		<p>
			If a negative review has been posted to your review profile in error, then do not be swift to respond defensively. Instead, take the opportunity to explain to the reviewer that the review is erroneously posted. While you’re at it, why not take the opportunity to extend an invitation to try your venue instead?
		</p>

		<p>
			With a little luck and the willingness to engage, you may just gain a loyal follower. An alternative to a response, if the review is clearly not addressing your business, is to escalate it for moderation and removal. For example, if you receive a review where the customer voices concerns regarding your valet parking service, when your restaurant does not offer that service, then you should be able to have the review removed.
		</p>

		<br>
		<br>
	

		<strong>

		
		<p><%=link_to "The Reviewer Is Attempting to Blackmail You", static_pages_when_to_delete_part6_path%></p>

		<p><%=link_to "The Reviewer Is Threatening to Sue You", static_pages_when_to_delete_part7_path%></p>

		<p><%=link_to "The Reviewer Is Threatening Violence Against You, Your Business, or Your Employees", static_pages_when_to_delete_part2_path%></p>

		<p><%=link_to "The Reviewer Voices Concerns Regarding Health and Safety", static_pages_when_to_delete_part3_path%></p>

		<p><%=link_to "The Reviewer Has Posted a Review That Makes You Feel Angry and Unable to Control the Tone of Your Response", static_pages_when_to_delete_part4_path%></p>

		</strong>

		<p><%=link_to "Back to When To Delete....", static_pages_when_to_delete_part1_path%></p>

		<p><%=link_to "Back to Resources", static_pages_resources_path%></p>


		</strong>
		
	</center>

</h4>
