<div class="col-xs-12 col-sm-8 col-sm-offset-2">

<h3>
	<center>
	The Reviewer Has Posted a Review That Makes You Feel Angry and Unable to Control the Tone of Your Response
	</center>
</h3>

<br>


<h4>
	<center>

		<p>
			This is the most common faux pas when it comes to review management. Don’t let a reviewer get the best of you and corner you into an inappropriate response likely to severely impact your image for years to come.
		</p>

		<p>
			As a business manager, you have a heightened responsibility to consider the impact of your actions first, and reprioritize your emotions. Take a deep breath or two, and consult with other members of management to find a way to politely and positively respond to a review in a way that satisfies the customer concern and provides you the opportunity to clarify business policies or other issues that might have been erroneously assessed by the reviewer, resulting in an unfair and negative review.
		</p>

		<p>
			If the review contains language that is profane in nature, then you also have the option of requesting a review removal per the posting policies of most review sites.
		</p>

		<br>
		<br>

		<strong>

		<p><%=link_to "The Reviewer Is Threatening Violence Against You, Your Business, or Your Employees", static_pages_when_to_delete_part2_path%></p>

		<p><%=link_to "The Reviewer Voices Concerns Regarding Health and Safety", static_pages_when_to_delete_part3_path%></p>

		<p><%=link_to "The Reviewer Is Attempting to Blackmail You", static_pages_when_to_delete_part6_path%></p>

		<p><%=link_to "The Reviewer Is Threatening to Sue You", static_pages_when_to_delete_part7_path%></p>

		</strong>

		<p><%=link_to "Back to When To Delete....", static_pages_when_to_delete_part1_path%></p>

		<p><%=link_to "Back to Resources", static_pages_resources_path%></p>

		
	</center>

</h4>
