<div class="col-xs-12 col-sm-8 col-sm-offset-2">

<h3>
	<center>
		The Reviewer Is Threatening to Sue You
	</center>
</h3>

		<br>

<h4>
	<center>

	<p>
		This is a big red flag. If a reviewer is threatening to take legal action against your business, then it is best that you don’t engage by responding. Escalate the review to your in-house counsel or business attorney, and see if the reviewer has grounds to move forward. Whether the reviewer has reason to sue you or not, it is advisable not to engage in a two-way conversation in a public forum.
	</p>

	<p>
		If the option is available and the reviewer has self-identified, then reach out privately or have your legal department decide on the next move. Depending on the tone of the review and the policies specific to the review site, the review may or may not qualify for removal. Regardless, consider flagging it in hopes that it will be removed.
	</p>

	<br>
	<br>
		
		<strong>

		
		<p><%=link_to "The Reviewer Is Threatening Violence Against You, Your Business, or Your Employees", static_pages_when_to_delete_part2_path%></p>

		<p><%=link_to "The Reviewer Voices Concerns Regarding Health and Safety", static_pages_when_to_delete_part3_path%></p>

		<p><%=link_to "The Reviewer Has Posted a Review That Makes You Feel Angry and Unable to Control the Tone of Your Response", static_pages_when_to_delete_part4_path%></p>

		<p><%=link_to "The Reviewer Posted the Review to the Wrong Property", static_pages_when_to_delete_part5_path%></p>

		<p><%=link_to "The Reviewer Is Attempting to Blackmail You", static_pages_when_to_delete_part6_path%></p>

		</strong>

		<p><%=link_to "Back to When To Delete....", static_pages_when_to_delete_part1_path%></p>

		<p><%=link_to "Back to Resources", static_pages_resources_path%></p>


		</strong>
		
	</center>

</h4>
