<div class="col-xs-12 col-sm-8 col-sm-offset-2">


<h2>
	<center>

		When to Delete a Review or Comment?

	</center>

</h2>

<br>

	<center>

		<p>
			If you have been managing your online reputation for a while now, then you have probably gotten into the habit of responding quickly to online customer reviews, in hopes of providing quick resolution to escalations and maintaining a good brand image across all review and social media sites.
		</p>

		<p>
			The truth is, the majority of the time we highly endorse the implementation of standard operational procedures aimed toward taking care of all reviewers, either through acknowledging and thanking them for a compliment, or providing resolution or remedy for a complaint.
		</p>

		<p>
			Today, however, we want to take a moment to explore with you certain business scenarios where you may want to be slow, careful, and intentional in the way you draft your review response. Understanding when not to rush into responding to an online review is of particular importance for those with limited experience in reputation management. A careless response in the scenarios we are about to discuss can significantly impact your online reputation and, in some situations, it may even expose your business to legal liability.
		</p>

		<strong>

		<p><%=link_to "The Reviewer Is Threatening Violence Against You, Your Business, or Your Employees", static_pages_when_to_delete_part2_path%></p>

		<p><%=link_to "The Reviewer Voices Concerns Regarding Health and Safety", static_pages_when_to_delete_part3_path%></p>

		<p><%=link_to "The Reviewer Has Posted a Review That Makes You Feel Angry and Unable to Control the Tone of Your Response", static_pages_when_to_delete_part4_path%></p>

		<p><%=link_to "The Reviewer Posted the Review to the Wrong Property", static_pages_when_to_delete_part5_path%></p>

		<p><%=link_to "The Reviewer Is Attempting to Blackmail You", static_pages_when_to_delete_part6_path%></p>

		<p><%=link_to "The Reviewer Is Threatening to Sue You", static_pages_when_to_delete_part7_path%></p>

		</strong>

		<p><%=link_to "Back to When To Delete....", static_pages_when_to_delete_part1_path%></p>

		<p><%=link_to "Back to Resources", static_pages_resources_path%></p>
	</center>

</h4>
