<%= form_for(@reply) do |f| %>
  <% if @reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

      <ul>
      <% @reply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :greeting %><br>
    <%= f.text_field :greeting %>
  </div>
  <div class="field">
    <%= f.label :line_one %><br>
    <%= f.text_area :line_one %>
  </div>
  <div class="field">
    <%= f.label :line_two %><br>
    <%= f.text_area :line_two %>
  </div>
  <div class="field">
    <%= f.label :line_three %><br>
    <%= f.text_area :line_three %>
  </div>
  <div class="field">
    <%= f.label :line_four %><br>
    <%= f.text_area :line_four %>
  </div>
  <div class="field">
    <%= f.label :closing %><br>
    <%= f.text_area :closing %>
  </div>
  <div class="field">
    <%= f.label :salutation %><br>
    <%= f.text_area :salutation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
