<p id="notice"><%= notice %></p>

<h1>Listing Replies</h1>

<table>
  <thead>
    <tr>
      <th>Greeting</th>
      <th>Line one</th>
      <th>Line two</th>
      <th>Line three</th>
      <th>Line four</th>
      <th>Closing</th>
      <th>Salutation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @replies.each do |reply| %>
      <tr>
        <td><%= reply.greeting %></td>
        <td><%= reply.line_one %></td>
        <td><%= reply.line_two %></td>
        <td><%= reply.line_three %></td>
        <td><%= reply.line_four %></td>
        <td><%= reply.closing %></td>
        <td><%= reply.salutation %></td>
        <td><%= link_to 'Show', reply %></td>
        <td><%= link_to 'Edit', edit_reply_path(reply) %></td>
        <td><%= link_to 'Destroy', reply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reply', new_reply_path %>
