<p id="notice"><%= notice %></p>

<p>
  <strong>Greeting:</strong>
  <%= @reply.greeting %>
</p>

<p>
  <strong>Line one:</strong>
  <%= @reply.line_one %>
</p>

<p>
  <strong>Line two:</strong>
  <%= @reply.line_two %>
</p>

<p>
  <strong>Line three:</strong>
  <%= @reply.line_three %>
</p>

<p>
  <strong>Line four:</strong>
  <%= @reply.line_four %>
</p>

<p>
  <strong>Closing:</strong>
  <%= @reply.closing %>
</p>

<p>
  <strong>Salutation:</strong>
  <%= @reply.salutation %>
</p>

<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replies_path %>
