<div class="row">

  <div class="col-xs-12 col-sm-6 col-sm-offset-3">

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name, style: "color: black" %>
  </div>
  <div class="field">
    <%= f.label :user_email %><br>
    <%= f.text_field :user_email, style: "color: black" %>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Opt in to our email list
    </label>
  </div>
  <div class="actions">
    <%= f.submit style: "color: black" %>
  </div>
</div>
</div>
<% end %>
