<h1><%= @response.name %></h1>

<article>
	<%= @response.intro.sample %>, Customer.
	<br/> 
	<br/>
	<%= @response.line1.sample %>
	<%= @response.line2.sample %>
	<%= @response.line3.sample %>(user email),
	<%= @response.line4.sample %>
	<br/>
	<br/>
	<%= @response.close.sample %>
	<br/>
	<br/>
	Business</article>
<br/>
<br/>
<%= link_to "Generate New Response", responses_fyg_neutral_path %>
