<h1><%= @response.name %></h1>


	<% if @response.name == "Positive" %>
		<article>
			<%= @response.intro.sample %>, Customer.
			<br/> 
			<br/>
			<%= @response.line1.sample %>
			<%= @response.line2.sample %>
			<%= @response.line3.sample %>
			<%= @response.line4.sample %>
			<%= @response.line5.sample %>
			<br/>
			<br/>
			<%= @response.close.sample %>
			<br/>
			<br/>
			Business
		</article>
		<% end %>

	<% if @response.name == "Negative" %>
		<article>
			<%= @response.intro.sample %>, Customer.
			<br/> 
			<br/>
			<%= @response.line1.sample %>
			<%= @response.line2.sample %>
			<%= @response.line3.sample %>
			<%= @response.line4.sample %>(user email)
			<%= @response.line5.sample %>
			<%= @response.line6.sample %>

			<br/>
			<br/>
			<%= @response.close.sample %>
			<br/>
			<br/>
			Business
		</article>
		<% end %>

	<% if @response.name == "Neutral" %>
		<article>
			<%= @response.intro.sample %>, Customer.
			<br/> 
			<br/>
			<%= @response.line1.sample %>
			<%= @response.line2.sample %>
			<%= @response.line3.sample %>
			<%= @response.line4.sample %>
			<%= @response.line5.sample %>(user email).

			<br/>
			<br/>
			<%= @response.close.sample %>
			<br/>
			<br/>
			Business
		</article>
	<% end %>

		
<!-- 		<%# if @response.name == "Twitter Positive" %>
		<article>
			@Twitter_Handle, <%#= @response.intro.sample %>
			<br/> 
			<br/>
			<%#= @response.line1.sample %>
			<%#= @response.line2.sample %>
			<%#= @response.close.sample %>
			<br/>
			<br/>
			Business
		</article>
		<%# end %>

	<%# if @response.name == "Twitter Negative" %>
		<article>
			@Twitter_Handle, <%#= @response.intro.sample %>
			<br/> 
			<br/>
			<%#= @response.line1.sample %>
			<%#= @response.line2.sample %>(user email).
			<br/>
			<br/>
			<%#= @response.close.sample %>
			<br/>
			<br/>
			Business
		</article>
		<%# end %>

	<%# if @response.name == "Twitter Neutral" %>
		<article>
			@Twitter_Handle, <%#= @response.intro.sample %>
			<br/> 
			<br/>
			<%#= @response.line1.sample %>
			<%#= @response.line2.sample %>
			<br/>
			<br/>
			<%#= @response.close.sample %>
			<br/>
			<br/>
			Business
		</article>
	<%# end %>

		<%# if @response.name == "Trip Advisor Positive" %>
		<article>
			<%#= @response.intro.sample %>, Customer.
			<br/> 
			<br/>
			<%#= @response.line1.sample %>
			<%#= @response.line2.sample %>
			<%#= @response.close.sample %>
			<br/>
			<br/>
			Business
		</article>
		<%# end %>

	<%# if @response.name == "Trip Advisor Negative" %>
		<article>
			<%#= @response.intro.sample %>
			<br/> 
			<br/>
			<%#= @response.line1.sample %>
			<%#= @response.line2.sample %>(user email).
			<br/>
			<br/>
			<%#= @response.close.sample %>
			<br/>
			<br/>
			Business
		</article>
		<%# end %>
		
	<%# if @response.name == "Trip Advisor Neutral" %>
		<article>
			<%#= @response.intro.sample %>Customer.
			<br/> 
			<br/>
			<%#= @response.line1.sample %>
			<%#= @response.line2.sample %>
			<br/>
			<br/>
			<%#= @response.close.sample %>
			<br/>
			<br/>
			Business
		</article>
	<%# end %>
 -->


<br/>
<br/>
<%= link_to "Don't Like This? Generate a New Response!", response_path %> | 
<%= link_to "Generate a Response for a Different Review", root_path %>