<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


	  <title>Reply CoPilot</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	  <%= csrf_meta_tags %>
	</head>

	<body>
		<nav class="navbar navbar-default navbar-static-top">
		  <div class="container">
		      <a class="navbar-brand" href="/criteria/new.html">
		        <!-- <img class="visible-xs" alt="Reply Copilot" src="logo-icon-blue.svg" height="24"> -->
		        <%= image_tag("logo-icon-blue.svg", :class => "visible-xs", :height => '24', :alt => "Reply Copilot") %>
		        <!-- <img class="hidden-xs" alt="Reply Copilot" src="reply-copilot-logo.svg" height="24"> -->
 		    		<%= image_tag("reply-copilot-logo.svg", :class => "hidden-xs", :height => '24', :alt => "Reply Copilot") %>
		      </a>

					<ul class="nav navbar-nav">
<!-- 				<li role="presentation"><a href="about.html">About</a></li>
	 -->			<li role="presentation"><%=link_to "About", static_pages_about_path%></li>
	  				<li role="presentation"><%=link_to "Resources", static_pages_resources_path%></li>
<!-- 				<li role="presentation"><a href="#">Resources</a></li>
 -->			</ul>
		  </div>
		</nav>

		<div class="container">

			<%= yield %>

			<footer>
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<p class="text-blue text-left">
								<a href="https://twitter.com/replycopilot" target="_blank">
									<i class="fa fa-lg fa-twitter-square"></i>
								</a>
								<a href="https://www.facebook.com/replycopilot" target="_blank">
									<i class="fa fa-lg fa-facebook-square"></i>
								</a>
							</p>
						</div>
						<div class="col-sm-6">
							<p class="text-black text-right">Terms of Service</p>
						</div>
					</div>
				</div>
			</footer>

		</div>

	</body>
</html>
<!-- 							<p class="text-black text-right"><%#= link_to 'Terms of Service', static_pages_terms_of_service_path %></p>

